<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybersecurity Forum</title>
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/flexbox.css">
</head>
<body>
    <header>
        <div id = "navbar-container" class = "flex-row">
            <div id = "forum-name" class = "flex-row">
                <h1 class = "name">Cybersecurity Forum</h1>
                <a href = "/signup" class = "name">SIGNUP</a>
            </div>
        </div>
    </header>
    <div id = "main-container" class = "flex-row">
        <div id = "sub-main-container" class = "flex-col">
            <h1 id = "text1">Find users by their programming language =&#125;</h1>
            <form name = "search-bar-container" id = "search-bar-container" class = "flex-row" method = "POST" action = "/">
                <input name = "user_name" id = "user_name" type = "text" form = "search-bar-container">
                <button type="submit" id = "search-button" form = "search-bar-container" onclick="handle_click()">search</button>
            </form>
        </div>
    </div>
</body>
</html>